.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 10% auto 10%;
}

#hero-banner, #weather-content, #music-player, #main-content {
  grid-column-start: span 2;
}

#main-content {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
}

#recipe {
  grid-column-start: 1;
}

#recipe-foto {
  grid-row-start: span 3;

}

#ad {
  grid-column-start: 2;
  grid-row-start: span 3;
}

#recipe-header {
  grid-row-start: 1;
  grid-column-start: 2;
}

#recipe-title {
  grid-row-start: 2;
  grid-column-start: 2;
}

#recipe-link {
  grid-row-start: 3;
  grid-column-start: 2;
}