<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			<script src='https://kit.fontawesome.com/a076d05399.js'></script>

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<script src="papaparse.min.js"></script>
			<script src="https://www.powr.io/powr.js?platform=html"></script>


		</head>
		<body>		
			{{ content }}

<script type="text/javascript">
	// Read file and hydrate block accordingly
	Papa.parse(fileInput.files[0], {
		complete: function(results) {
			console.log(results);
		}
	});
</script>
		</body>
	</html>
